<section class="site-hero overlay" style="background-image: url(assets/img/ULACIT.jpg)">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center">
        <h1 class="heading" data-aos="fade-up"><em>Falcon Spot</em></h1>
        <!-- <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Discover our world-class hotel &amp; restaurant resort.</p> -->
        <br><br>
        <p data-aos="fade-up" data-aos-delay="100">
          <a href="blog.html" class="btn uppercase btn-outline-light d-sm-inline d-block">Iniciar Sesión</a> 
          <a href="hotel.html" class="btn uppercase btn-outline-light d-sm-inline d-block">Realizar Reservación</a>
          <br><br>
          <a href="hotel.html" class="btn uppercase btn-outline-light d-sm-inline d-block">Verificar Disponibilidad</a>
        </p>
      </div>
    </div>
    <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
  </div>
</section>