<section class="site-hero overlay" style="background-image: url(assets/img/ULACIT.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading" data-aos="fade-up"><em>Bienvenido Administrador</em></h1>
          <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Seleccione una opcion de mantenimiento</p>
          <br><br>
          <p data-aos="fade-up" data-aos-delay="100">
            <a routerLink="/admin_reservas" class="btn uppercase btn-outline-light d-sm-inline d-block">Administrar Reservas</a> 
            <a routerLink="/admin_usuarios" class="btn uppercase btn-outline-light d-sm-inline d-block">Administrar Usuarios</a>
            <br><br> 
            <a routerLink="/admin_parqueos" class="btn uppercase btn-outline-light d-sm-inline d-block">Administrar Parqueos</a>
            <a routerLink="/admin_espacios" class="btn uppercase btn-outline-light d-sm-inline d-block">Administrar Espacios</a> 
          </p>
        </div>
      </div>
    </div>
  </section>