<section class="site-hero overlay page-inside" style="background-image: url(assets/img/ULACIT.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading2" data-aos="fade-up">Estado Actual de los Parqueos</h1>
          <!-- <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your stay.</p> -->
        </div>
      </div>
      <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
    </div>
  </section>
  <!-- END section -->

  <body style="color: white; background-color: white;">
  
    <div class="container mt-5">
        <div class="main row justify-content-center">
            <form action="" id="contact-form" class="row justify-content-center mb-4" autocomplete="off">
                <div class="col-20 mt-5">
  
                  <table class="table table-striped" style="background-color: #31003F">
                      <thead class="thead-dark">
                          <tr>
                              <th class="text-center">Parqueo</th>
                              <th class="text-center">Direccion</th>
                              <th class="text-center">Cantidad</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let parqueo of listaParqueos; let indice = index">
                              <td>{{parqueo.nombre}}</td>
                              <td>{{parqueo.direccion}}</td>
                              <td>Cantidad</td>
                          </tr>
                      </tbody>
                  </table>              
                </div>
            </form>
        </div>
    </div>
