<section class="site-hero overlay page-inside" style="background-image: url(assets/img/ULACIT.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading2" data-aos="fade-up">Administracion de Usuarios</h1>
          <!-- <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your stay.</p> -->
        </div>
      </div>
      <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
    </div>
  </section>
  <!-- END section -->

  <body style="color: white; background-color: white;">
  
  <!-- <div class="container mt-5">
    <form>
        <div class="row">
            <div class="col-2 mt-2">
                <input type="text" name="cedula" id="cedula" placeholder="Cedula" [(ngModel)]="curso.codigo">
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-2">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="curso.nombre">
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-2">
                <button class="btn btn-success" (click)="agregarCurso()">{{modo}}</button>
            </div>
        </div>
    </form>
    
    <table class="table table-stripped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th class="text-center">Cedula</th>
                <th class="text-center">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr i *ngFor="let curso of listaCursos; let indice = index">
                <td class="text-center">{{indice + 1}}</td>
                <td class="text-center">{{curso.codigo}}</td>
                <td class="text-center">{{curso.nombre}}</td>
                <td class="text-center">{{curso.descripcion}}</td>
                <td class="text-center">{{curso.cantEstudiantes}}</td>
                <td class="text-center">
                    <span *ngIf="curso.activo" class="bi bi-check-circle-fill text-success"></span>
                    <span *ngIf="!curso.activo"class="bi bi-check-circle-fill text-danger"></span>
                </td>
                <td>
                    <button class="btn btn-warning"(click)="actualizarCurso(indice, cursoSeleccionado)">Actualizar</button>&nbsp;
                    <button class="btn btn-danger"(click)="borrarCurso(indice)">Borrar</button> 
                </td>
            </tr>
        </tbody>
    </table>
  </div> -->
