<section class="site-hero overlay page-inside" style="background-image: url(assets/img/ULACIT.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading2" data-aos="fade-up">Iniciar Sesión</h1>
          <!-- <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your stay.</p> -->
        </div>
      </div>
      <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
    </div>
  </section>
  <!-- END section -->

<section class="vh-150 gradient-custom">
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card" style="border-radius: 1rem; background-color: #31003F">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <!-- <h2 class="fw-bold mb-2 text-uppercase" style="color: white;">Login</h2> -->
            <p class="text-white-50 mb-5" style="color: white;">Por favor digite su correo electónico y su contraseña</p>

            <div class="form-outline form-white mb-4">
              <input type="email" id="typeEmailX" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX" style="color: white;">Correo</label>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="password" id="typePasswordX" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX" style="color: white;">Contraseña</label>
            </div>

            <p class="small mb-5 pb-lg-2"><a class="text-white-50" style="color: #F1582B;" href="#!">¿Olvidaste tu contraseña?</a></p>

            <button routerLink="/admin_landing" class="btn btn-outline-light btn-lg px-5" type="submit" style="background-color: #F1582B; border-color: #F1582B;">Iniciar Sesión</button>

            <!-- <div class="d-flex justify-content-center text-center mt-4 pt-1">
              <a href="https://twitter.com/ulacitcostarica?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-white"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="https://www.facebook.com/ulacitcostarica/" class="text-white"><i class="fa fa-facebook fa-lg mx-4 px-2"></i></a>
              <a href="https://www.instagram.com/ulacitcr/?hl=en" class="text-white"><i class="fa fa-google fa-lg"></i></a>

            </div> -->

          </div>

          <!-- <div>
            <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold" style="color: #F1582B;">Regístrate</a>
            </p>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
</section>
