<section class="site-hero overlay page-inside" style="background-image: url(assets/img/ULACIT.jpg)">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <h1 class="heading2" data-aos="fade-up">Administracion de parqueo</h1>
          <!-- <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your stay.</p> -->
        </div>
      </div>
      <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
    </div>
  </section>
  <!-- END section -->

  <body style="color: white; background-color: white;">
  
  <div class="container mt-5">
      <div class="main row justify-content-center">
          <form action="" id="contact-form" class="row justify-content-center mb-4" autocomplete="off">
              <div class="col-10 mb-3">
                  <label for="nombre" style="color: black;">Codigo de Parqueo</label>
                  <input class="form-control" type="text" name="codigo" id="codigo" [(ngModel)]="parqueo.codigo">
              </div>
              <div class="col-10 mb-3">
                  <label for="telefono" style="color: black;">Nombre</label>
                  <input class="form-control" type="text" name="nombre" id="nombre" [(ngModel)]="parqueo.nombre">
              </div>
              <div class="col-10 mb-3">
                <label for="telefono" style="color: black;">Direccion</label>
                <input class="form-control" type="text" name="direccion" id="direccion" [(ngModel)]="parqueo.direccion">
            </div>
              <div class="col-10">
                  <button class="btn btn-success" style="background-color: #F1582B; border-color: #F1582B;" (click)="agregarParqueo()">{{modo}}</button>
              </div>
              <div class="col-20 mt-5">

                <table class="table table-striped" style="background-color: #31003F">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">CODIGO</th>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">DIRECCION</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parqueo of listaParqueos; let indice = index">
                            <td>{{parqueo.codigo}}</td>
                            <td>{{parqueo.nombre}}</td>
                            <td>{{parqueo.direccion}}</td>
                            <td class="text-center">
                                <button class="btn btn-warning" (click)="actualizarParqueo(indice, parqueo)">Actualizar</button> &nbsp;
                                <button class="btn btn-danger" (click)="borrarParqueo(indice)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>              
              </div>
          </form>
      </div>
  </div>
